@charset "UTF-&";


ul{
   list-style: none;
}

.conteiner{
   display: block;
   position: absolute;
   border: solid 2px rgba(0, 0, 0, 0.4);
   box-shadow: 4px 4px 2px #a30a8259;
   border-radius:10px;
   width: 35%;
   height: 190px;
   padding: 20px;
}

.conteiner > h1{
   font-size: 20pt;
   position: relative;
   left: 180px;
   top: -150px;

}

.conteiner > p{
   font-size: 14pt;
   position: relative;
   left: 180px;
   top: -150px;
   margin-top: 10px;

}

.botao{
   display: block;
   position: relative;
   padding: 20px;
   background-color: #2e0325;
   width: 65px;
   border: 2px solid black;
   color: white;
   border-radius: 10px;
   top: -100px; 
   left: 320px
  
}
.conteiner > a{
   text-decoration: none;
}
.botao:hover{
   background-color: rgb(1, 54, 1);
}
.conteiner > a:hover{
   text-decoration: underline;
   color: white;
}


.imagemC{
   
   width: 35%;
   height: 150px;
}




