@charset "UTF-&";

*{
   margin: 0px;
   padding: 0px;
}

.conteiner{
   display: grid ;
   height: 100vh;
   grid-template-columns: 42% 42%;
   grid-template-rows: 28% 28% 28%;
   column-gap: 2% ;
   row-gap: 5%;
   justify-content: center;
   margin: 40px;
   
}


ul{
   list-style: none;
}

.toda-img{
   width: 37%;
   margin: 10px;
}


.box{
   background: #ffffff;
   border: 2px solid black;
   padding: 10px;
}

.box > h1{
   display: grid;
  
 
}

.box-1{
   margin: 0px;
   padding: 0px;
}













